#include "NVansStringsSQL.h"

STRINGTABLE
BEGIN
IDS_SQL_SELECT,                 "SELECT"
IDS_SQL_FROM,                   "FROM"
IDS_SQL_WHERE,                  "WHERE"
IDS_SQL_GROUP,                  "GROUP BY"
IDS_SQL_ORDER,                  "ORDER BY"

IDS_SQL_ORACLE_VERSION,         "SELECT * FROM v$version"

IDS_SQL_ORACLE_NVANS_TABLE,     "BPTL.RP_NVANS"

IDS_SQL_ORACLE_NVANS_TRAIN_SELECT,      "SELECT NUM, INVNUM, TO_NCHAR(CARGOTYPE) CARGOTYPE, TO_NCHAR(INVOICE_NUM) INVOICE_NUM, TO_NCHAR(INVOICE_SUPPLIER) INVOICE_SUPPLIER, TO_NCHAR(INVOICE_CONSIGN) INVOICE_CONSIGN, TO_NCHAR(DEPART_STATION) DEPART_STATION, TO_NCHAR(PURPOSE_STATION) PURPOSE_STATION"
IDS_SQL_ORACLE_NVANS_TRAIN_WHERE,       "RWNUM=:RWNUM"
IDS_SQL_ORACLE_NVANS_TRAIN_ORDER,       "NUM, DATE_RECORD"

IDS_SQL_ORACLE_NVANS_TRAINS_SELECT,     "SELECT TO_NCHAR(RWNUM) RWNUM, MIN(DATE_RECORD) DATETIME, COUNT(*) VAN_COUNT"
IDS_SQL_ORACLE_NVANS_TRAINS_WHERE,      "DATE_RECORD>=:DATE_FROM AND DATE_RECORD<:DATE_TO"
IDS_SQL_ORACLE_NVANS_TRAINS_GROUP,      "RWNUM"
IDS_SQL_ORACLE_NVANS_TRAINS_ORDER,      "DATETIME DESC"
END
