#include "NVansStringsGridHeader.h"

STRINGTABLE
BEGIN
IDS_GRID_HEADER_NUM,                    "№"
IDS_GRID_HEADER_DATETIME,               "Дата и время"
IDS_GRID_HEADER_VANNUM,                 "№ вагона"
IDS_GRID_HEADER_CARGOTYPE,              "Род груза"
IDS_GRID_HEADER_INVOICE_NUM,            "Номер накладной"
IDS_GRID_HEADER_INVOICE_SUPPLIER,       "Грузоотправитель"
IDS_GRID_HEADER_INVOICE_RECIPIENT,      "Грузополучатель"
IDS_GRID_HEADER_DEPART_STATION,         "Станция отправления"
IDS_GRID_HEADER_PURPOSE_STATION,        "Станция назначения"
IDS_GRID_HEADER_RWNUM,                  "Номер"
IDS_GRID_HEADER_VAN_COUNT,              "Вагоны"
IDS_GRID_HEADER_CARRYING,               "ГП"
IDS_GRID_HEADER_TARE_T,                 "Тара Т"
IDS_GRID_HEADER_INVOICE_NETTO,          "Нетто Н"
IDS_GRID_HEADER_INVOICE_TARE,           "Тара Н"
END
