ISVS_LST_CARGOTYPE_SELECT RCDATA "sql\\isvs_lst_cargotype_select.sql"
ISVS_LST_STATION_SELECT RCDATA "sql\\isvs_lst_station_select.sql"
LOCAL_MTRAINS_SELECT RCDATA "sql\\local_mtrains_select.sql"
LOCAL_MVANS_SELECT_BY_DT RCDATA "sql\\local_mvans_select_by_dt.sql"
LOCAL_MVANS_SELECT_BY_TN RCDATA "sql\\local_mvans_select_by_tn.sql"
LOCAL_MVANS_UPDATE RCDATA "sql\\local_mvans_update.sql"
LOCAL_PVANS_INSERT RCDATA "sql\\local_pvans_insert.sql"
LOCAL_PVANS_SELECT RCDATA "sql\\local_pvans_select.sql"
LOCAL_PVANS_UPDATE RCDATA "sql\\local_pvans_update.sql"
ORACLE_NVANS_TRAIN RCDATA "sql\\oracle_nvans_train.sql"
ORACLE_NVANS_TRAINS_BY_DT RCDATA "sql\\oracle_nvans_trains_by_dt.sql"
ORACLE_NVANS_TRAINS_BY_VN RCDATA "sql\\oracle_nvans_trains_by_vn.sql"
ORACLE_NVANS_TRAIN_DATETIME RCDATA "sql\\oracle_nvans_train_datetime.sql"
