#include "NVansStrings.h"

STRINGTABLE
BEGIN
IDS_COPYRIGHT,          "© Константин Дураев (Уральская Сталь)|@P3tr0viCh@yandex.ru"
IDS_COPYRIGHT_STATUS,   "© Константин Дураев"

IDS_QUESTION_CLOSE_PROGRAM,     "Закрыть программу?"

IDS_ERROR_UNKNOWN,              "Неизвестная ошибка"
IDS_ERROR_UNKNOWN_EXCEPTION,    "Возникла непредвиденная ошибка:\n\n%s"
IDS_ERROR_NEED_RWNUM,           "Не указан номер поезда"
IDS_ERROR_RWNUM_NOT_EXISTS,     "Поезд с номером «%s» в базе данных отсутствует"
IDS_ERROR_LOAD_SETTINGS,        "Во время чтения настроек произошла критическая ошибка.\n\nДальнейшая работа невозможна"
IDS_ERROR_SAVE_SETTINGS,        "Не удалось сохранить настройки"
IDS_ERROR_PASS_WRONG,           "Неправильный пароль.\n\nПопробуйте ещё раз"
IDS_ERROR_CHECK_PASS,           "Введённые пароли не совпадают. Повторите ввод нового пароля и его подверждения";
IDS_ERROR_TRAIN_LOAD,           "Во время загрузки состава произошла ошибка:\n\n%s"
IDS_ERROR_TRAINS_LOAD,          "Во время загрузки списка составов произошла ошибка:\n\n%s"

IDS_MSG_DATABASE_CONNECT_OK,    "Соединение с базой данных выполнено.\n\nВерсия сервера:\n%s"
IDS_MSG_DATABASE_CONNECT_FAIL,  "Не удалось подключиться к базе данных.\n\nОшибка:\n%s"

IDS_STATUS_TRAIN_LIST_DATE,             "Дата: %s"
IDS_STATUS_TRAIN_LIST_VAN_COUNT,        "Количество: %s"

IDS_CONNECTION_MYSQL,           "DRIVER={%s};SERVER=%s;PORT=%s;DATABASE=%s;USER=%s;PASSWORD=%s;OPTION=3;"
IDS_CONNECTION_ORACLE,          "DRIVER={%s};DBQ=%s/%s;UID=%s;PWD=%s;"
IDS_CONNECTION_MYSQL_DRIVER_0,  "MySQL ODBC 8.0 ANSI Driver"
IDS_CONNECTION_ORACLE_DRIVER_0, "Oracle in instantclient_12_1"
IDS_CONNECTION_ORACLE_DRIVER_1, "Oracle in instantclient_21_3"

IDS_LOG_LOGIN_OK,                       "login: ok"
IDS_LOG_LOGIN_CANCEL,                   "login: cancel"
IDS_LOG_OPTIONS_SAVE,                   "options: save"
IDS_LOG_OPTIONS_CANCEL,                 "options: cancel"

IDS_LOG_ERROR_EXCEPTION,                "exception: %s"
IDS_LOG_ERROR_CRC_EMPTY,                "CRC empty"
IDS_LOG_ERROR_CRC_WRONG,                "CRC wrong"
IDS_LOG_ERROR_LOAD_SETTINGS,            "read settings fail: %s"
IDS_LOG_ERROR_SAVE_SETTINGS,            "write settings fail: %s"
IDS_LOG_ERROR_CHECK_SETTINGS,           "check settings for %s"
IDS_LOG_ERROR_PASS_WRONG,               "login: pass wrong"
IDS_LOG_ERROR_TERMINATED_IN_WORK_PROGRESS,
                                        "app terminated in work progress"

IDS_LOG_DATABASE_CONNECT,               "try database connect: %s@%s:%s/%s"
IDS_LOG_DATABASE_CONNECT_OK,            "database connected, version: %s"
IDS_LOG_DATABASE_CONNECT_FAIL,          "database connect fail: %s"
IDS_LOG_ORACLE_LOAD_TRAIN_OK,           "server load train, vancount: %d"
IDS_LOG_ORACLE_LOAD_TRAIN_FAIL,         "server load train fail: %s"
IDS_LOG_ORACLE_LOAD_TRAINS_OK,          "server load trains, count: %d"
IDS_LOG_ORACLE_LOAD_TRAINS_FAIL,        "server load trains fail: %s"
END
