#include "NVansStringsSQL.h"

STRINGTABLE
BEGIN
IDS_SQL_SELECT,                 "SELECT"
IDS_SQL_INSERT,                 "INSERT INTO"
IDS_SQL_UPDATE,                 "UPDATE"
IDS_SQL_SET,                    "SET"
IDS_SQL_FROM,                   "FROM"
IDS_SQL_WHERE,                  "WHERE"
IDS_SQL_GROUP,                  "GROUP BY"
IDS_SQL_ORDER,                  "ORDER BY"
IDS_SQL_JOIN,                   "LEFT JOIN"
IDS_SQL_VALUES,                 "VALUES"

IDS_SQL_MYSQL_VERSION,          "SELECT @@version;"
IDS_SQL_ORACLE_VERSION,         "SELECT * FROM v$version"

IDS_SQL_ORACLE_NVANS_TABLE,     "BPTL.RP_NVANS"
IDS_SQL_LOCAL_MVANS_TABLE,      "mvans"
IDS_SQL_LOCAL_MTRAINS_TABLE,    "mtrains"
IDS_SQL_LOCAL_PVANS_TABLE,      "pvans"

IDS_SQL_ORACLE_NVANS_TRAIN_SELECT,      "NUM, NDATETIME, TO_NCHAR(INVNUM) INVNUM, TO_NCHAR(CARGOTYPE) CARGOTYPE, TO_NCHAR(INVOICE_NUM) INVOICE_NUM, TO_NCHAR(INVOICE_SUPPLIER) INVOICE_SUPPLIER, TO_NCHAR(INVOICE_CONSIGN) INVOICE_CONSIGN, TO_NCHAR(DEPART_STATION) DEPART_STATION, TO_NCHAR(PURPOSE_STATION) PURPOSE_STATION, CARRYING, TARE_T, INVOICE_NETTO, INVOICE_TARE, RWNUM, DATE_RECORD"
IDS_SQL_ORACLE_NVANS_TRAIN_WHERE,       "RWNUM=:RWNUM AND NDATETIME=TO_DATE(:NDATETIME, 'YYYY-MM-DD HH24:MI:SS')"
IDS_SQL_ORACLE_NVANS_TRAIN_ORDER,       "NUM, DATE_RECORD"

IDS_SQL_ORACLE_NVANS_TRAIN_JOIN_SELECT, "A.NUM, A.NDATETIME, TO_NCHAR(A.INVNUM) INVNUM, TO_NCHAR(COALESCE(B.CARGOTYPE, A.CARGOTYPE)) CARGOTYPE, TO_NCHAR(COALESCE(B.INVOICE_NUM, A.INVOICE_NUM)) INVOICE_NUM, TO_NCHAR(COALESCE(B.INVOICE_SUPPLIER, A.INVOICE_SUPPLIER)) INVOICE_SUPPLIER, TO_NCHAR(COALESCE(B.INVOICE_CONSIGN, A.INVOICE_CONSIGN)) INVOICE_CONSIGN, TO_NCHAR(COALESCE(B.DEPART_STATION, A.DEPART_STATION)) DEPART_STATION, TO_NCHAR(COALESCE(B.PURPOSE_STATION, A.PURPOSE_STATION)) PURPOSE_STATION, COALESCE(B.CARRYING, A.CARRYING) CARRYING, COALESCE(B.TARE_T, A.TARE_T) TARE_T, COALESCE(B.INVOICE_NETTO, A.INVOICE_NETTO) INVOICE_NETTO, COALESCE(B.INVOICE_TARE, A.INVOICE_TARE) INVOICE_TARE, A.RWNUM, A.DATE_RECORD"
IDS_SQL_ORACLE_NVANS_TRAIN_JOIN_JOIN,   "ON A.INVNUM = B.INVNUM AND TRIM(B.RWNUM) LIKE CONCAT(TRIM(A.INVOICE_NUM), '-%')"

IDS_SQL_ORACLE_NVANS_TRAINS_SELECT,             "TO_NCHAR(RWNUM) RWNUM, NDATETIME, COUNT(*) VAN_COUNT"
IDS_SQL_ORACLE_NVANS_TRAINS_BY_VN,              "ORACLE_NVANS_TRAINS_BY_VN"
IDS_SQL_ORACLE_NVANS_TRAINS_WHERE_DT,           "RWNUM IS NOT NULL AND NDATETIME>=:DATE_FROM AND NDATETIME<:DATE_TO"
IDS_SQL_ORACLE_NVANS_TRAINS_WHERE_VN,           "INVNUM=:INVNUM AND NDATETIME>=:DATE_FROM"
IDS_SQL_ORACLE_NVANS_TRAINS_GROUP,              "RWNUM, NDATETIME"
IDS_SQL_ORACLE_NVANS_TRAINS_ORDER,              "NDATETIME DESC, RWNUM"

IDS_SQL_ORACLE_NVANS_TRAIN_DATETIME_SELECT,     "NDATETIME"
IDS_SQL_ORACLE_NVANS_TRAIN_DATETIME_WHERE,      "RWNUM=:RWNUM"
IDS_SQL_ORACLE_NVANS_TRAIN_DATETIME_GROUP,      "NDATETIME"
IDS_SQL_ORACLE_NVANS_TRAIN_DATETIME_ORDER,      "NDATETIME DESC"

IDS_SQL_LOCAL_MVANS_SELECT,             "id, scales, num, bdatetime, invnum, carrying, brutto, tare, tare_t, tareindex, iscales_tare, idatetime_tare, netto, cargotype, invoice_num, invoice_supplier, invoice_consign, depart_station, purpose_station, invoice_netto, invoice_tare, disbalong, disbcross, tol_disbalong, tol_disbcross, status"
IDS_SQL_LOCAL_MVANS_WHERE_DT            "bdatetime>=:DATE_FROM AND bdatetime<:DATE_TO"
IDS_SQL_LOCAL_MVANS_WHERE_TRAIN_NUM     "trnum=:TRAIN_NUM"
IDS_SQL_LOCAL_MVANS_ORDER_DT,           "bdatetime DESC"
IDS_SQL_LOCAL_MVANS_ORDER_NUM,          "num"
IDS_SQL_LOCAL_MVANS_UPDATE,             "invnum=:INVNUM, carrying=:CARRYING, loadnorm=:LOADNORM, tare=:TARE, tare_t=:TARE_T, iscales_tare=:ISCALES_TARE, idatetime_tare=:IDATETIME_TARE, netto=:NETTO, overload=:OVERLOAD, cargotype=:CARGOTYPE, cargotype_code=:CARGOTYPE_CODE, depart_station=:DEPART_STATION, depart_station_code=:DEPART_STATION_CODE, purpose_station=:PURPOSE_STATION, purpose_station_code=:PURPOSE_STATION_CODE, invoice_num=:INVOICE_NUM, invoice_supplier=:INVOICE_SUPPLIER, invoice_supplier_code=:INVOICE_SUPPLIER_CODE, invoice_consign=:INVOICE_CONSIGN, invoice_consign_code=:INVOICE_CONSIGN_CODE, invoice_netto=:INVOICE_NETTO, invoice_tare=:INVOICE_TARE, disbalong=:DISBALONG, disbcross=:DISBCROSS, tol_disbalong=:TOL_DISBALONG, tol_disbcross=:TOL_DISBCROSS, data_sent=0"
IDS_SQL_LOCAL_MVANS_UPDATE_WHERE,       "id=:ID"

IDS_SQL_LOCAL_MTRAINS_SELECT,           "id, trnum, bdatetime, nvans, status"
IDS_SQL_LOCAL_MTRAINS_WHERE,            "bdatetime>=:DATE_FROM AND bdatetime<:DATE_TO"
IDS_SQL_LOCAL_MTRAINS_ORDER,            "bdatetime DESC"

IDS_SQL_LOCAL_PVANS_SELECT,             "invnum"
IDS_SQL_LOCAL_PVANS_WHERE,              "invnum=:INVNUM"
IDS_SQL_LOCAL_PVANS_UPDATE,             "carrying=:CARRYING, iscales_carrying=:ISCALES_CARRYING, idatetime_carrying=:IDATETIME_CARRYING, loadnorm=:LOADNORM, iscales_loadnorm=:ISCALES_LOADNORM, idatetime_loadnorm=:IDATETIME_LOADNORM, tare_t=:TARE_T, iscales_tare_t=:ISCALES_TARE_T, idatetime_tare_t=:IDATETIME_TARE_T"
IDS_SQL_LOCAL_PVANS_INSERT_FIELDS,      "(invnum, carrying, iscales_carrying, idatetime_carrying, loadnorm, iscales_loadnorm, idatetime_loadnorm, tare_t, iscales_tare_t, idatetime_tare_t)"
IDS_SQL_LOCAL_PVANS_INSERT_VALUES,      "(:INVNUM, :CARRYING, :ISCALES_CARRYING, :IDATETIME_CARRYING, :LOADNORM, :ISCALES_LOADNORM, :IDATETIME_LOADNORM, :TARE_T, :ISCALES_TARE_T, :IDATETIME_TARE_T)"
END
