#include "NVansStringsSQL.h"

STRINGTABLE
BEGIN
IDS_SQL_SELECT,                 "SELECT"
IDS_SQL_INSERT,                 "INSERT INTO"
IDS_SQL_UPDATE,                 "UPDATE"
IDS_SQL_SET,                    "SET"
IDS_SQL_FROM,                   "FROM"
IDS_SQL_WHERE,                  "WHERE"
IDS_SQL_GROUP,                  "GROUP BY"
IDS_SQL_ORDER,                  "ORDER BY"
IDS_SQL_JOIN,                   "LEFT JOIN"
IDS_SQL_VALUES,                 "VALUES"

IDS_SQL_MYSQL_VERSION,          "SELECT @@version;"
IDS_SQL_ORACLE_VERSION,         "SELECT * FROM v$version"

IDS_SQL_ORACLE_NVANS_TABLE,     "BPTL.RP_NVANS"
IDS_SQL_LOCAL_MVANS_TABLE,      "mvans"
IDS_SQL_LOCAL_PVANS_TABLE,      "pvans"

IDS_SQL_ORACLE_NVANS_TRAIN_SELECT,      "NUM, INVNUM, TO_NCHAR(CARGOTYPE) CARGOTYPE, TO_NCHAR(INVOICE_NUM) INVOICE_NUM, TO_NCHAR(INVOICE_SUPPLIER) INVOICE_SUPPLIER, TO_NCHAR(INVOICE_CONSIGN) INVOICE_CONSIGN, TO_NCHAR(DEPART_STATION) DEPART_STATION, TO_NCHAR(PURPOSE_STATION) PURPOSE_STATION, CARRYING, TARE_T, INVOICE_NETTO, INVOICE_TARE, RWNUM, DATE_RECORD"
IDS_SQL_ORACLE_NVANS_TRAIN_WHERE,       "RWNUM=:RWNUM"
IDS_SQL_ORACLE_NVANS_TRAIN_ORDER,       "NUM, DATE_RECORD"

IDS_SQL_ORACLE_NVANS_TRAIN_JOIN_SELECT, "A.NUM, A.INVNUM, TO_NCHAR(COALESCE(B.CARGOTYPE, A.CARGOTYPE)) CARGOTYPE, TO_NCHAR(COALESCE(B.INVOICE_NUM, A.INVOICE_NUM)) INVOICE_NUM, TO_NCHAR(COALESCE(B.INVOICE_SUPPLIER, A.INVOICE_SUPPLIER)) INVOICE_SUPPLIER, TO_NCHAR(COALESCE(B.INVOICE_CONSIGN, A.INVOICE_CONSIGN)) INVOICE_CONSIGN, TO_NCHAR(COALESCE(B.DEPART_STATION, A.DEPART_STATION)) DEPART_STATION, TO_NCHAR(COALESCE(B.PURPOSE_STATION, A.PURPOSE_STATION)) PURPOSE_STATION, A.CARRYING, A.TARE_T, A.INVOICE_NETTO, A.INVOICE_TARE, A.RWNUM, A.DATE_RECORD"
IDS_SQL_ORACLE_NVANS_TRAIN_JOIN_JOIN,   "ON A.INVNUM = B.INVNUM AND TRIM(B.RWNUM) LIKE CONCAT(TRIM(A.INVOICE_NUM), '-%')"

IDS_SQL_ORACLE_NVANS_TRAINS_SELECT,     "TO_NCHAR(RWNUM) RWNUM, MIN(DATE_RECORD) DATETIME, COUNT(*) VAN_COUNT"
IDS_SQL_ORACLE_NVANS_TRAINS_WHERE,      "DATE_RECORD>=:DATE_FROM AND DATE_RECORD<:DATE_TO"
IDS_SQL_ORACLE_NVANS_TRAINS_GROUP,      "RWNUM"
IDS_SQL_ORACLE_NVANS_TRAINS_ORDER,      "DATETIME DESC"

IDS_SQL_LOCAL_MVANS_SELECT,             "id, bdatetime, invnum, cargotype, invoice_num, invoice_supplier, invoice_consign, depart_station, purpose_station, carrying, tare_t, invoice_netto, invoice_tare, status"
IDS_SQL_LOCAL_MVANS_WHERE,              "bdatetime>=:DATE_FROM AND bdatetime<:DATE_TO"
IDS_SQL_LOCAL_MVANS_ORDER,              "bdatetime DESC"
IDS_SQL_LOCAL_PVANS_SELECT,             "invnum"
IDS_SQL_LOCAL_PVANS_WHERE,              "invnum=:INVNUM"
IDS_SQL_LOCAL_PVANS_UPDATE,             "carrying=:CARRYING, iscales_carrying=:ISCALES_CARRYING, idatetime_carrying=:IDATETIME_CARRYING, loadnorm=:LOADNORM, iscales_loadnorm=:ISCALES_LOADNORM, idatetime_loadnorm=:IDATETIME_LOADNORM, tare_t=:TARE_T, iscales_tare_t=:ISCALES_TARE_T, idatetime_tare_t=:IDATETIME_TARE_T"
IDS_SQL_LOCAL_PVANS_INSERT_FIELDS,      "(invnum, carrying, iscales_carrying, idatetime_carrying, loadnorm, iscales_loadnorm, idatetime_loadnorm, tare_t, iscales_tare_t, idatetime_tare_t)"
IDS_SQL_LOCAL_PVANS_INSERT_VALUES,      "(:INVNUM, :CARRYING, :ISCALES_CARRYING, :IDATETIME_CARRYING, :LOADNORM, :ISCALES_LOADNORM, :IDATETIME_LOADNORM, :TARE_T, :ISCALES_TARE_T, :IDATETIME_TARE_T)"
END
